img,
object,
embed {
    width: 100%;
}
.container {
    vertical-align: middle;
    padding-top: 150px;
    padding-bottom: 150px;             
}
.distance{
    padding-bottom: 50px;
}
.distanceBottom{
    padding-top: 50px;
}