<!DOCTYPE html>
<html lang="pt-br">
  <head/>
  <body>
    <input type="hidden" id="data" name="data" value=`${data.dados}`/>
    <input type="hidden" id="random" name="random" value=`${data.random}`/>
    <input type="hidden" id="string" name="string" value=`${data.strings}`/>
    <div id="container" style="width: 1000px; height: 500px;"/>
    <script src="/static/jquery/jquery.min.js"/>
    <script src="/static/js/anychart-base.min.js" type="text/javascript"/>
    <a href="/" class="btn btn-primary">
      <button class="btn btn-primary">voltar</button>
    </a>
    <!--<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>-->
    <script>
      anychart.onDocumentLoad(function () {
        // create an instance of a pie chart
      var $box3 = $("input#random");
      random = $box3.val();
      var $box = $("input#data");
      data = $box.val();
      var $box2 = $("input#string");
      string = $box2.val();
      string = string.split(',');
      data = data.split(',');
      random = random.split(',');
      var dados = [];
      var array = [];
      console.log("data:", data);
      console.log("string", string);
      for(var x = 0; x < data.length ; x++){
        array = [string[x],data[x]];
        dados.push(array);
      }
      console.log(dados);

      chart = anychart.column();
      chart.title("Pks - LogNormal");
      chart.dataArea().background().enabled(true);
      chart.dataArea().background().fill("#665B59 0.2");
      var series = chart.column(dados);
      chart.container("container");
      chart.draw();
      string = ["P1","P2","P3","P2novo", "P3novo"];
      array = [];
      dados = [];
      for(var x = 0; x < random.length ; x++){
        array = [string[x],random[x]];
        dados.push(array);
      }
      console.log(dados);
      
      chart = anychart.line();
      chart.title("Pontos");
      chart.dataArea().background().enabled(true);
      chart.dataArea().background().fill("#665B59 0.2");
      var series = chart.line(dados);
      chart.container("container");
      chart.draw();

    });
  </script>
  </body>
</html>
